body{
	font-size: 62.5%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	color:#545257;
	margin-top: 0;
	margin-left: 0;
	background: linear-gradient(to bottom, #0f3a5b 1%,#293247 51%,#151a25 100%);
}

.wrapper{
	background-color: #fff;
	width:82.90%;
	margin: 30px auto;
	padding: 15px;
	padding-top: 0;
	-webkit-box-shadow: 0px 0px 3px #fff;
	   -moz-box-shadow: 0px 0px 3px #fff;
	        box-shadow: 0px 0px 3px #fff;
}

h1, h2, h3, h4 {
	font-size: 3em;
	text-align: center;
}

h1 {
	margin: 0;
	margin-bottom: 0;
	font-size: 7em;
  color: #fff;
}

h2 {
	margin-top: 0;
	padding-top: 5px;
}

#top {
	height: 810px;
	background-color: #272D40;
}

.cta {
	width: 60%;
	margin: 0 auto;
	border-bottom: 1px solid #bbb8bf;
}

.cta > a > img {
	width: 300px;
	height: 174px;
	border: 0;
	margin: 0 auto 0 200px;;
	padding-bottom: 20px;
}

nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding-top: 15px;
	padding-bottom: 15px;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
	margin-bottom: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li:hover {
	-ms-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
}

nav ul li a {
  padding: 18px;
  font-family: "Questrial";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: #0f3a5b;
}

.images {
	list-style-type: none;
}

p {
	font-size: 1.7em;
	margin-top:8px;
	margin-bottom: 0;
}



.gallery {
	padding-top: 35px;
}

ul.gallery li {
  display: inline-block;
  opacity:1;
	padding: 0 30px;
  -webkit-transition: opacity .5s ease-in-out;
  	 -moz-transition: opacity .5s ease-in-out;
  		 -o-transition: opacity .5s ease-in-out;
  				transition: opacity .5s ease-in-out;
}

label {
  cursor: pointer;
  color: #fff;
  background: #5D6B74;
  padding: 5px 19px;
}

input {
  display: none;
}

img {
  padding: 5px;
  border: 1px solid #ccc;
	width: 200px;
	height: 200px;
}

footer {
	text-align: center;
	font-size: .7em;
	color: #fff;
	margin-top: -10px;
	margin-bottom: 15px;
}

p > a:active {
	color: #DAD6C5;
}

.gallery li:hover {
	  -ms-transform: scale(1.3,1.3);
-webkit-transform: scale(1.3,1.3);
			  transform: scale(1.3,1.3);
}

.video, .section1 {
	width: 75%;
	margin: 20px auto 15px auto;
}

iframe {
	margin: 15px;
}
