body {
	font-size: 62.5%;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	color:#545257;
	margin-top: 0;
	margin-left: 0;
	background-color: #E6E8E8;
}



/*------------Header information----------*/

h1, h2, h3, h4 {
	font-size: 3em;
	text-align: center;
}

h1 {
	margin: 0;
	margin-bottom: 0;
	font-size: 7em;
  color: #fff;
}

h2 {
	margin-top: 0;
	padding-top: 5px;
}

.about h3 {
	margin-bottom: 15px;
}

h4 {
	font-size: 2em;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.wrapper {
  padding-right: 3%;
  padding-left: 3%;
}

/*----------------CTA / Logo -----------*/
.cta {
  width: 25%;
  margin: 0 auto;
  padding-bottom: 20px;
}

.cta a img {
  width: 100%
}
/* --------------------Navigation-------------*/

nav ul {
  margin: 0 auto;
  width: 450px;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 18px;
  font-family: "Questrial";
  text-transform:uppercase;
  color: #30AEFD;
  font-size: 18px;
  text-decoration: none;
  display: block;
}

nav ul li a:hover {
  text-decoration: none;
  font-size: 2em;
  color: #222;
}

/*-------------------------Images--------------------*/
.col-sm-3 { padding: 1%; }
.col-sm-3:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   -moz-box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

img {
  width: 100%;
}

/*--------------------About Page -----------------*/

p {
	font-size: 1.7em;
	margin-top:8px;
	margin-bottom: 0;
}

.about li {
	font-size: 1.5em;
}

.about {
	margin: 0 auto;
	width: 85%;
}

.wrapper > input {
  display: none;
}

p > a:active {
	color: #DAD6C5;
}

/*--------------------Music Page ------------*/

.video {
	width: 75%;
	margin: 0 auto;
}

#home {
		padding-right: 10px;
		border-right: 1px solid #bbb8bf;
}

#fly {
		padding-left: 10px;
}

.section1 {
	width: 96%;
	margin: 20px auto 15px auto;
}

iframe {
	margin: 15px auto;
}

/*---------------------Contact Page--------------------*/

form > nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding-top: 15px;
	padding-bottom: 15px;
}

form > nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);
	margin-bottom: 0;
}

form > nav ul li {
  display: inline-block;
}

form > nav ul li:hover {
	-ms-transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);
}

form > nav ul li a {
  padding: 18px;
  font-family: "Questrial";
  text-transform:uppercase;
  color: rgba(0, 35, 122, 0.5);
  font-size: 18px;
  text-decoration: none;
  display: block;
}

form > nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
	color: #0f3a5b;
}

form {
	width: 50%;
	margin: 0 auto;
	line-height: 1.5em;
	font-size: 2em;
	list-style-type: none;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 50%;
    resize:vertical;
		border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}

input {
	width: 200px;
	height: 20px;
	margin-left: 10px;
	border:1px solid #aaa;
  box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
  border-radius:2px;
}

input:focus {
	background: #fff;
  border:1px solid #555;
  box-shadow: 0 0 3px #aaa;
}

form > li {
  padding:12px;
  border-bottom:1px solid #eee;
  position:relative;
}


button.submit {
  background-color: #68b12f;
  background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
  background: -webkit-linear-gradient(top, #68b12f, #50911e);
  background: -moz-linear-gradient(top, #68b12f, #50911e);
  background: -ms-linear-gradient(top, #68b12f, #50911e);
  background: -o-linear-gradient(top, #68b12f, #50911e);
  background: linear-gradient(top, #68b12f, #50911e);
  border: 1px solid #509111;
  border-bottom: 1px solid #5b992b;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #9fd574;
  -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
  -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
  -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
  -o-box-shadow: 0 1px 0 0 #9fd574 inset;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  text-align: center;
  text-shadow: 0 -1px 0 #396715;
}
button.submit:hover {
  opacity:.85;
  cursor: pointer;
}

footer {
  width: 100%;
  text-align: center;
  height: 50px;
  background-color: #373737;
  color: #FFF;
  margin-top: 20px;
}

footer p {
  padding-top: 14px;
  margin-top: 0px;
}

/*-----------------Media Queries-----------------------*/
@media only screen and (max-width: 1340px) {
	.video {
		width: 55%;
	}

	#home {
		border-right: none;
	}

	#fly, #home {
		padding: 0;
		width: 600px;
		height: 425px;
	}


}

@media only screen and (max-width: 1080px) {
	.video {
		width: 65%;
	}

	#home {
		border-right: none;
	}

	#fly, #home {
		padding: 0;
		width: 500px;
		height: 325px;
	}

}

@media only screen and (max-width: 959px) {
	.video {
		width: 58%;
		margin: 0 auto;
	}

	iframe {
		width: 500px;
		height: 325px;
	}

	.section1 {
		width: 80%;
	}

	#sound {
		width: 100%;
		height: 100%;
	}

}

@media only screen and (max-width: 767px) {
	.video {
		width: 69%;
		margin: 0 auto;
	}

	iframe {
		width: 400px;
		height: 225px;
	}

	form {
		width: 75%;
	}
}

@media only screen and (max-width: 665px) {
	.video {
		display: none;
	}

	#fly, #home {
		display: none;
	}
}

 @media only screen and (min-width: 504px) and (max-width: 549px) {

	.section1 {
		width: 100%;
	}

	form {
		width: 85%;
	}
}

@media only screen and (min-width: 421px) and (max-width: 503px) {

	.video {
		display: none;
	}

	#fly, #home {
		display: none;
	}

	.section1 {
		width: 100%;
	}

	form {
		width: 96%;
	}

	#firstName, #lastName, #message {
		width: 100%;
		height: 100%;
	}

	/*----------------Hamburger------------*/
	* {
	  margin:0;
	  padding:0;
	  transition: all 0.2s ease-in-out;
	}

	#nav-trigger {
	  position: absolute;
	  opacity:0;
	}
	label {
	  position: relative;
	  float:left;
	  width: 30px;
	  height: 25px;
		margin-top: 15px;
	  display: inline-block;
	  cursor: pointer;
	  z-index: 11;
	}
	label span, label span:before, label span:after {
	  cursor: pointer;
	  border-radius: 0px;
	  height: 5px;
	  width: 30px;
	  background-color: black;
	  position: absolute;
	  content: '';
	  transition: all 0.2s ease-in-out;
	}

	/*--------------------The crosshairs------------------------------*/
	label span {
	  top: 10px;
	}
	label span:before {
	  top: -10px;
	}
	label span:after {
	  top: 10px;
	}
	/*----------Doing the cool thing from the hamburger to the X----------*/
	input[type=checkbox]:checked + label span {
	  background-color:transparent;
	}
	input[type=checkbox]:checked + label span:before {
	  transform: rotate(45deg);
	  top: 0px;
	  background-color: black;
	}
	input[type=checkbox]:checked + label span:after {
	  transform: rotate(-45deg);
	  top: 0px;
	  background-color: black;
	}

	.nav {
		position: absolute;
		width: 100%;
		left: 0;
		top: -100%;
		background-color: #fff;
		z-index: 10;
		opacity: 1;
	}
	nav ul li {
	  display: block;
	}

	/* Toggled State */
	input[type=checkbox]:checked ~ .nav {
	   top:0;
	}
}

@media only screen and (max-width: 420px) {

  .cta a img {
    margin-top: 40px;
  }

	body {
		width: 96%;
		margin: 0 auto;
	}

	.video {
		display: none;
	}

	#fly, #home {
		display: none;
	}

	.section1 {
		width: 100%;
	}

	form {
		width: 100%;
	}

	#firstName, #lastName, #message {
		width: 100%;
		height: 100%;
	}

	/*------------------------Hamburger--------------*/
	#nav-trigger {
	  position: absolute;
	  opacity:0;
	}
	label {
	  position: relative;
	  float:left;
	  width: 30px;
	  height: 25px;
		margin-top: 15px;
	  display: inline-block;
	  cursor: pointer;
	  z-index: 11;
	}
	label span, label span:before, label span:after {
	  cursor: pointer;
	  border-radius: 0px;
	  height: 5px;
	  width: 30px;
	  background-color: black;
	  position: absolute;
	  content: '';
	  transition: all 0.2s ease-in-out;
	}

	/*--------------------The crosshairs (pretty cool)------------------------------*/
	label span {
	  top: 10px;
	}
	label span:before {
	  top: -10px;
	}
	label span:after {
	  top: 10px;
	}
	/*----------Doing the cool thing from the hamburger to the X----------*/
	input[type=checkbox]:checked + label span {
	  background-color:transparent;
	}
	input[type=checkbox]:checked + label span:before {
	  transform: rotate(45deg);
	  top: 0px;
	  background-color: black;
	}
	input[type=checkbox]:checked + label span:after {
	  transform: rotate(-45deg);
	  top: 0px;
	  background-color: black;
	}

	.nav {
		position: absolute;
		width: 100%;
		left: 0;
		top: -100%;
		background-color: #fff;
		z-index: 10;
		opacity: 1;
	}
	nav ul li {
	  display: block;
	}

	/* Toggled State */
	input[type=checkbox]:checked ~ .nav {
	   top:0;
	}
}
